<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            {% for evento in eventos %}
                <div>
                    <p>published: {{ evento.published_date }}</p>
                    <h2><a href="">{{ evento.title }}</a></h2>
                    <p>{{ evento.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>